body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}
.logo img{
    height: 50px;
}
nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li{
    margin: 0 15px;
}
nav ul li select{
    color: black;
    border: none;
    position: absolute;

}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.icons a{
    margin-left: 15px;
}
.icons img{
    height: 24px;
}
.banner{
    background-color: red;
    color: white;
    text-align: center;
    padding: 2px;
}
.banner p{
    margin: 0;
    font-size: 25px;
    font-weight: 200;

}
.banner2 p{
    margin: 10px 0 0 0;
    font-size: 20px;
    text-align: center;
    font-size: 22px;
}
.promo{
    width: 100%;
    overflow: hidden;
    
}
.promo img{
    width: 100%;
    height: auto;
    display: block;
    
}
/* kuch krna hai */
.registration-container{
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.tab-menu{
    display: flex;
    justify-content: space-between;
}
.tab-button{
    width: 50%;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    font-weight: bold;

}
.tab-button.active{
    background-color: #008080;
    color: #fff;
}
.registraion-form{
    padding: 20px 0;
}
.social-login{
    margin-top: 5px;
    display: flex ;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10%;

}
.social-button{
    width: 40%;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
    font-size: 16px;
}
.facebook{
    color:white;
    background-color: #3b5998;
    
}
.google{
    color:white;
    background-color: #db4a39;
}
.or-divider {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    color: #666;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gender-group {
    display: flex;
    align-items: center;
}

.gender-group label {
    margin-right: 10px;
}

.gender-group input {
    margin-right: 5px;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #008080;
    text-decoration: none;
}